.header {
  width: 100%;
  padding: 45px 65px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  z-index: 1000;

  &.active {
    background-color: white;
    padding: 25px 65px;
  }

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;

    .logoImg {
      width: 185px;

      &:hover {
        transform: scale(1.1);
        transition: all 0.3s ease;
        cursor: pointer;
      }
    }
  }

  .downButton {
    width: 120px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 30px;

    &:hover {
      cursor: pointer;
      background-color: #4974F6;
      color: white;
      transform: scale(1.15);
      transition: all 0.3s ease;
    }
  }
}

// @media (max-width: 1199px) {
//   .header {
//     padding: 25px 45px;

//     &.active {
//       padding: 15px 45px;
//     }

//     .logo .logoImg {
//       width: 150px;
//     }

//     .downButton {
//       width: 100px;
//       height: 36px;
//       font-size: 14px;
//     }
//   }
// }

@media (max-width: 767px) {
  .header {
    padding: 15px 20px;

    &.active {
      padding: 10px 20px;
    }

    .logo .logoImg {
      width: 120px;
      transform: translateY(2px); // ✅ 이미지 아래로 2px 이동
    }

    .downButton {
      width: 90px;
      height: 32px;
      font-size: 12px;
    }
  }
}
