.leftNavBar {
  // width: 300px;
  min-width: 290px;
  // height: 100vh;
  border: 1px solid black;

  padding: 20px 20px;

  background-color: #E6F1FF;
}
.contents {
  width: 100%;
  // height: 100%;
  border: 1px solid black;
  
}
.logo{
  height: 50px;
}
.name {
  width: 100%;
  height: 40px;
  border: 1px solid black;
  margin-top: 30px;
}
.buttonsContainer {
  width: 100%;
  // height: 93%;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
}
.buttonsTop {
  width: 100%;
  height: 80%;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.buttonRow {
  width: 100%;
  // height: 20%;
  border: 1px solid black;

  margin-top: 30px;
}
.buttonContainer {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: white;
  color: black;
}

.button {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
}

.buttonChange {
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: inherit;
  color: inherit;
}

.buttonContainer:hover {
  background-color: #529DFF;
  color: white;
}

.active {
  background-color: #529DFF;
  color: white;
}

.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}