* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hide {
  display: none;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../src/assets/fonts/Pretendard-Light.otf') format('opentype');
  font-weight: 300;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../src/assets/fonts/Pretendard-Bold.otf') format('opentype');
  font-weight: 700;
}

@font-face {
  font-family: 'Pretendard';
  src: url('../src/assets/fonts/Pretendard-Black.otf') format('opentype');
  font-weight: 900;
}
