@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
}

.animate {
  opacity: 1;
  animation: fadeInUp 0.8s ease forwards;
}

.fourth {
  width: 100vw;
  // height: 2800px;
  min-height: 100vh;   // ✅ 핵심 추가! 화면 최소 높이 확보

  padding-top: 132px; // 헤더 높이만큼 아래로 밀기
  // background-color: aqua;
  border: 1px solid black;

  display: flex;
  flex-direction: column;
  // justify-content: end;
  align-items: center;

  // padding: 10vh 0;
}
.section {
  width: 1200px;
  height: 330px;

  border: 1px solid black;

  padding: 10px 30px;
  margin: 10vh 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.content {
  width: 49%;
  height: 100%;
  border: 1px solid black;
}
.video {
  width: 49%;
  height: 100%;
  border: 1px solid black;

  display: flex;
  align-items: center;
  justify-content: center;
}
.title{
  font-size: 45px;
}
.color{
  color: #4974F6;
}
.titleContent{
  font-size: 23px;
}
.section2 {
  width: 1200px;
  height: 930px;

  border: 1px solid black;

  padding: 10px 30px;
  margin: 10vh 0;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  align-items: center;
}
.title2{
  font-size: 45px;
  text-align: center;
}
.titleContent2{
  font-size: 23px;
  text-align: center;
}

.section3 {
  width: 1200px;
  height: 450px;

  border: 1px solid black;

  padding: 10px 30px;
  margin: 10vh 0;

  display: flex;
  flex-direction: column;
  // justify-content: space-between;
  justify-content: center;
  align-items: center;
  
}
.title3{
  font-size: 32px;
  text-align: center;
}

.section4 {
  width: 1200px;
  height: 130px;

  border: 1px solid black;

  padding: 10px 30px;
  margin: 10vh 0 5vh 0;

  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  
}
.imgApp{

}
.img{
  width: 200px;
}
// .imgApp, .img {
//   transition: transform 0.3s ease;
// }
.imgApp:hover, .img:hover {
  transform: scale(1.1);
  cursor: pointer;
}


.title4{
  
}