@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
}

.animate {
  opacity: 1;
  animation: fadeInUp 0.8s ease forwards;
}

.third {
  width: 100vw;
  height: calc(100vh - 132px);
  padding-top: 132px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  // ✅ 수직 정렬
  gap: 5vh;                 // ✅ 요소 간 간격
}

.box {
  width: 90%;
  max-width: 800px;

  // border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 23px;
  text-align: center;
}

.title {
  font-size: 45px;
}

.color {
  color: #4974F6;
}

.img {
  width: 100%;
  max-width: 800px;

  display: flex;
  justify-content: center;
  padding: 2vh 0;
}

@media (max-width: 768px) {
  .third {
    padding-top: 100px;
    gap: 4vh;
  }

  .box {
    font-size: 18px;
  }

  .title {
    font-size: 32px;
  }

  .img img {
    width: 90%;
    max-width: 300px;
  }
}
