@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.hidden {
  opacity: 0;
}

.animate {
  opacity: 1;
  animation: fadeInUp 0.8s ease forwards;
}

.first {
  width: 100vw;
  min-height: 100vh;
  padding-top: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFFFFF;
}

.total {
  width: 100%;
  max-width: 1200px;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 10vh;
}

.contents {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;

  padding: 60px;
  margin: 5vh auto;
  background-color: #f4f4f4;
  border-radius: 16px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
}

.content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;

  color: #000000;
  font-size: 18px;
  line-height: 1.6;
  text-align: left;
}

.assets {
  width: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.title1,
.title2 {
  font-size: 42px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 900; //black
  line-height: 1.4;
  text-align: left;
}

.titleContent {
  text-align: left;
  font-size: 18px;
  font-family: 'Pretendard', sans-serif;
  font-weight: 300; //black
  line-height: 1.6;
}

.color {
  color: #4974F6;
}

/* ✅ 반응형 */
@media (max-width: 768px) {
  .first {
    padding-top: 52px;
  }
  .total {
    padding: 0 16px;
    gap: 2vh;
  }

  .contents {
    flex-direction: column;
    padding: 24px 16px;
    margin: 3vh auto;
    min-height: auto;
    gap: 24px;
  }

  .content {
    width: 100%;
    font-size: 16px;
    text-align: center;
    align-items: center;
    order: 1;
  }
  .assets {
     width: 100%;
     justify-content: center;
     order: 2; // ✅ 항상 아래로
  }

  .title1,
  .title2 {
    font-size: 28px;
    text-align: center;
  }

  .titleContent {
    font-size: 16px;
    text-align: center;
  }

  .logoImg {
    width: 90%;
    height: auto;
  }
}
